{% extends "layout/layout.html.twig" %}

{% block content %}
<div class="col-sm-6">
    <h2>Twitter</h2>

    {% for tweet in tweets %}
        <div class="well">
            <p>
                <img class="img-circle" src="{{ tweet.user.profile_image_url }}"/>
                <a href="http://twitter.com/{{ tweet.user.screen_name }}">{{ tweet.user.name }}</a>
            </p>

            {{ display_tweet(tweet.text, tweet.entities) }}

            <span>Retweets: {{ tweet.retweet_count }} Favorites: {{ tweet.favorite_count }}</span></p>

            {% if tweet.retweeted %}
                <span>Retweeted</span>
            {% else %}
                <a id="retweet-{{ tweet.id }}" class="btn btn-primary btn-sm retweet" value="{{ tweet.id }}">Retweet</a>
            {% endif %}

            {% if tweet.favorited %}
                <span>Favorited</span>
            {% else %}
                <a id="favorite-{{ tweet.id }}" class="btn btn-primary btn-sm favorite" value="{{ tweet.id }}">Favorite</a>
            {% endif %}
        </div>
    {% endfor %}
</div>

<div class="col-sm-6">
    <h2>Scoop.it</h2>

    {% for scoop in scoops %}
        <div class="well">
            <div class="row">
                <div class="col-sm-5"><img src="{{ scoop.image }}" /></div>
                <div class="col-sm-7"><span>{{ scoop.title }}</span></div>
            </div>
            <p><span>Reactions: {{ scoop.reactionsCount }} Comments: {{ scoop.commentsCount }} Thanks: {{ scoop.thanksCount }}</span></p>

            <a href="{{ scoop.url }}" target="_blank" class="btn btn-primary btn-sm">View</a>
        </div>
    {% endfor %}
</div>

<div id="image-viewer" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>

{% endblock %}