{% extends "layout/layout.html.twig" %}

{% block content %}
<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-12">
            <h2>Topic</h2>

            <div id="topic-info" class="well">
                <div class="row" style="text-align:center;">
                    <h3 id="topic-name">{{ topic.name }}</h3>
                    <p id="topic-desc">{{ topic.description }}</p>
                </div>

                <div class="row">
                    <div id="stat" class="col-sm-4">
                        <span id="topic-score" class="counter"><strong>{{ topic.score }}</strong></span>
                        <span class="metric">Score</span>
                    </div>
                    <div id="stat" class="col-sm-4">
                        <span id="topic-uv" class="counter"><strong>{{ topic.stats.uv }}</strong></span>
                        <span class="metric">Visitors</span>
                    </div>
                    <div id="stat" class="col-sm-4">
                        <span id="topic-uvp" class="counter"><strong>{{ topic.stats.uvp }}</strong> </span>
                        <span class="metric">Visitors Progression</span>
                    </div>
                    <div id="stat" class="col-sm-4">
                        <span id="topic-v" class="counter"><strong>{{ topic.stats.v }}</strong></span>
                        <span class="metric">Views</span>
                    </div>
                    <div id="stat" class="col-sm-4">
                        <span id="topic-vp" class="counter"><strong>{{ topic.stats.vp }}</strong></span>
                        <span class="metric">Views Progression</span>
                    </div>
                    <div id="stat" class="col-sm-4">
                        <span id="topic-followers" class="counter"><strong>{{ topic.stats.followers }}</strong></span>
                        <span class="metric">Followers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Topic List</h2>

            <div class="well">
                <h3>User Topics</h3>
                {% for user_topic in topics.user_topics %}
                    <p>
                        <button id="topic-{{ user_topic.id }}" class="btn btn-block btn-primary load-topic" value="{{ user_topic.id }}">{{ user_topic.name }}</button>
                    </p>
                {% endfor %}

                <h3>Followed Topics</h3>
                {% for followed_topic in topics.followed_topics %}
                    <p>
                        <button id="topic-{{ followed_topic.id }}" class="btn btn-block btn-primary load-topic" value="{{ followed_topic.id }}">{{ followed_topic.name }}</button>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-12">
            <h2>Curated Posts</h2>

            <div id="post-container">
            {% for post in topic.posts %}
                <div class="well">
                    <div class="row" id="content">
                        {% if post.image %}
                            <div class="col-sm-12">
                                <div class="col-sm-5"><img class="img-rounded" src="{{ post.image }}"/></div>
                                <div class="col-sm-7"><span>{{ post.title }}</span></div>
                            </div>
                        {% else %}
                            <div class="col-sm-12"><span>{{ post.title }}</span></div>
                        {% endif %}
                    </div>

                    <div class="row" id="footer">
                        <div class="col-sm-6">
                            <span>
                                Reactions: {{ post.reactionsCount }} Comments: {{ post.commentsCount }} Thanks: {{ post.thanksCount }}
                            </span>
                        </div>

                        <div class="col-sm-6">
                            <a href="{{ post.url }}" target="_blank" class="btn btn-warning btn-sm">
                                <i class="fa fa-eye"></i> View
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="topic-load" class="modal">
    <div class="modal-dialog" style="width:300px;text-align:center;">
        <div class="modal-content">
            <div class="modal-body">
                <h3><i class="fa fa-refresh fa-spin"></i> Loading topic...</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}