{% extends "layout/layout.html.twig" %}

{% block content %}
<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-12">
            <h2>Topic</h2>

            <div id="topic-info" class="well">
                <h3 id="topic-name">{{ topic.name }}</h3>
                <p id="topic-desc">{{ topic.description }}</p>
                <span id="topic-score">Score: {{ topic.score }}</span>
                <span id="topic-uv">Visitors: {{ topic.stats.uv }}</span>
                <span id="topic-uvp">Visitors Progression: {{ topic.stats.uvp }}</span>
                <span id="topic-v">Views: {{ topic.stats.v }}</span>
                <span id="topic-vp">Views Progression: {{ topic.stats.vp }}</span>
                <span id="topic-followers">Followers: {{ topic.stats.followers }}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Topic List</h2>

            <div class="well">
                <h3>User Topics</h3>
                {% for user_topic in topics.user_topics %}
                    <p><a id="topic-{{ user_topic.id }}" class="load-topic" value="{{ user_topic.id }}">{{ user_topic.name }}</a></p>
                {% endfor %}

                <h3>Followed Topics</h3>
                {% for followed_topic in topics.followed_topics %}
                    <p><a id="topic-{{ followed_topic.id }}" class="load-topic" value="{{ followed_topic.id }}">{{ followed_topic.name }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-12">
            <h2>Curated Posts</h2>

            {% for post in topic.posts %}
                <div class="well">
                    <div class="row">
                        <div class="col-sm-5"><img src="{{ post.image }}"/></div>
                        <div class="col-sm-7"><span>{{ post.title }}</span></div>
                    </div>
                    <p><span>Reactions: {{ post.reactionsCount }} Comments: {{ scoop.commentsCount }} Thanks: {{ scoop.thanksCount }}</span></p>

                    <a href="{{ post.url }}" target="_blank" class="btn btn-primary btn-sm">View</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}