{% extends "layout/layout.html.twig" %}

{% block content %}
<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-12">
            <h2>Your Stats</h2>

            <div class="well">
                <div class="row">
                    <div id="stat" class="col-sm-4">
                        <span class="counter"><strong>{{ stats.followers }}</strong></span>
                        <span class="metric">Followers</span>
                    </div>
                    <div id="stat" class="col-sm-4">
                        <span class="counter"><strong>{{ stats.friends }}</strong></span>
                        <span class="metric">Following</span>
                    </div>
                    <div id="stat" class="col-sm-4">
                        <span class="counter"><strong>{{ stats.listed }}</strong></span>
                        <span class="metric">Listed</span>
                    </div>
                </div>
                <div class="row">
                    <div id="stat" class="col-sm-4">
                        <span class="counter"><strong>{{ stats.favourites }}</strong></span>
                        <span class="metric">Favourites</span>
                    </div>
                    <div id="stat" class="col-sm-4">
                        <span class="counter"><strong>{{ stats.statuses }}</strong></span>
                        <span class="metric">Tweets</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Post Tweet</p>

            <div class="well">
                <form id="tweetForm" method="post" action="">
                    <textarea id="status" class="form-control" rows="3"></textarea>
                    <button id="tweet" type="submit" class="btn btn-primary btn-sm"><i id="post" class="fa fa-pencil-square-o"></i> Tweet</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <h2>Your Timeline</h2>

    {% for tweet in tweets %}
        <div class="well">
            <div class="row" id="header">
                <div class="col-sm-12">
                    <p>
                        <img class="img-circle" src="{{ tweet.user.profile_image_url }}"/>
                        <a href="http://twitter.com/{{ tweet.user.screen_name }}"><strong>{{ tweet.user.name }}</strong></a>
                    </p>
                </div>
            </div>

            <div class="row" id="content">
                <div class="col-sm-12">{{ display_tweet(tweet.text, tweet.entities) }}</div>
            </div>

            <div class="row" id="footer">
                <div class="col-sm-6">
                    <span>
                        <strong>Retweets: {{ tweet.retweet_count }} Favorites: {{ tweet.favorite_count }}</strong>
                    </span>
                </div>

                <div class="col-sm-6">
                    <a id="delete-{{ tweet.id }}" class="btn btn-primary btn-sm delete" value="{{ tweet.id }}">
                        <i id="delete-{{ tweet.id }}" class="fa fa-trash-o"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div id="image-viewer" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<div id="tweet-post" class="modal">
    <div class="modal-dialog" style="width:300px;text-align:center;">
        <div class="modal-content">
            <div class="modal-body">
                <h3><i class="fa fa-refresh fa-spin"></i> Posting tweet...</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}