{% extends "layout/layout.html.twig" %}

{% block content %}
<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-12">
            <h2>Your Stats</h2>

            <div class="well">
                <div class="row">
                    <div id="stat" class="col-sm-4"> Followers {{ stats.followers }} </div>
                    <div id="stat" class="col-sm-4"> Friends {{ stats.friends }} </div> 
                    <div id="stat" class="col-sm-4"> Listed {{ stats.listed }} </div>
                </div>
                <div class="row">
                    <div id="stat" class="col-sm-4"> Favourites {{ stats.favourites }} </div>
                    <div id="stat" class="col-sm-4"> Tweets {{ stats.statuses }} </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Post Tweet</p>

            <div class="well">
                <form id="tweetForm" method="post" action="">
                    <textarea id="status" class="form-control" rows="3"></textarea>
                    <button id="tweet" type="submit" class="btn btn-primary btn-small">Tweet</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <h2>Your Timeline</h2>

    {% for tweet in tweets %}
        <div class="well">
            <p>
                <img src="{{ tweet.user.profile_image_url }}"/>
                <a href="http://twitter.com/{{ tweet.user.screen_name }}">{{ tweet.user.name }}</a>
            </p>

            {{ display_tweet(tweet.text, tweet.entities) }}

            <p>
                {{ tweet.created_at | date('Y-m-d') }}
                <span>Retweets: {{ tweet.retweet_count }} Favorites: {{ tweet.favorite_count }}</span>
            </p>

            <a id="delete-{{ tweet.id }}" class="btn btn-primary btn-small delete" value="{{ tweet.id }}">Delete</a>
        </div>
    {% endfor %}
</div>

<div id="image-viewer" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>

{% endblock %}